
<nav class="navbar navbar-expand-lg navbar-light bev-navbar sticky-top">
  <div class="container-fluid bev-navbar-inner">
    <div
      class="d-none d-lg-flex flex-column align-items-start bev-navbar-brand-text"
    >
      <span class="bev-brand-main">BAJO EL VOLCÁN</span>
      <span class="bev-brand-sub">Editorial Literaria</span>
    </div>

    <a class="navbar-brand d-lg-none" href="/">
      <img
        src="/assets/img/ui/logo.webp"
        alt="Bajo el Volcán"
        class="bev-logo-mobile"
      />
    </a>

    <button
      class="navbar-toggler ms-auto d-lg-none"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarMenu"
      aria-controls="navbarMenu"
      aria-expanded="false"
      aria-label="Abrir menú"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <a class="navbar-brand mx-auto d-none d-lg-block" href="/nosotros">
      <img
        src="/assets/img/ui/logo.webp"
        alt="Bajo el Volcán"
        class="bev-logo-desktop"
      />
    </a>

    <div class="collapse navbar-collapse" id="navbarMenu">
      <ul class="navbar-nav ms-lg-auto align-items-lg-center gap-lg-1">
        <li class="nav-item bev-nav-item">
          <a class="nav-link" href="/">Inicio</a>
        </li>
        <li class="nav-item bev-nav-item">
          <a class="nav-link" href="/nosotros">Nosotros</a>
        </li>
        <li class="nav-item bev-nav-item">
          <a class="nav-link" href="/contacto">Contáctanos</a>
        </li>
        <li class="nav-item bev-nav-item">
          <a class="nav-link" href="/noticias">Noticias</a>
        </li>
        <li class="nav-item bev-nav-item">
          <a
            class="nav-link"
            href="/doc/bases.pdf"
            target="_blank"
            rel="noopener noreferrer"
          >
            Premio nacional de novela
          </a>
        </li>
        <li class="nav-item ms-lg-2 bev-nav-item">
          <a
            class="nav-link bev-cart-btn position-relative"
            href="/carrito"
            aria-label="Carrito de compras"
          >
            <i class="bi bi-bag fs-5"></i>
            <span class="bev-cart-badge" id="cartCount">0</span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
