{% load static %}
<div class="bev-premios">
  <div class="bev-promo-wrapper text-center mx-auto">
    <p class="bev-promo-text">
      Tu talento merece ser reconocido. Participa en el Primer Premio Nacional de Novela.
    </p>

    <div class="bev-promo-img-wrapper">
      <img
        src="{% static 'home/img/noticias/premio.webp' %}"
        alt="Premio Nacional de Novela"
        class="bev-promo-img"
        loading="lazy"
      />
      <div class="bev-btn-premio-wrap">
        <a class="btn bev-btn-premio"
          href="/doc/bases.pdf"
          target="_blank"
          rel="noopener noreferrer">
          Bases del premio
        </a>
      </div>
    </div>

    <div class="bev-promo-contact">
      <h3 class="bev-promo-contact-title">Envía aquí tu manuscrito:</h3>
      <a href="mailto:bajoelvolcane@gmail.com"
        class="bev-footer-text bev-footer-link bev-promo-contact-link"
      >
        bajoelvolcane@gmail.com
      </a>
    </div>

  </div>
</div>