.bev-section-dark {
  background-image: var(--bg-patron-volcan);
  background-repeat: repeat;
  background-size: 950px;
  background-position: top left;
  background-color: transparent;
  color: var(--text-primary);
}

.bev-section-tag-light {
    display: block;
    width: 100vw;
    position: relative;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
    font-family: var(--font-body);
    font-size: 2.3rem;
    letter-spacing: 0.7em;
    text-transform: uppercase;
    color: var(--pr-white);
    margin-bottom: 2rem;
    font-weight: 500;
    background-color: var(--pr-black);
    padding: 20px 0;
    text-align: center;
    border-radius: 0;
}


.bev-author-avatar {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  overflow: hidden;
  margin: 0 auto;
}

.bev-author-avatar img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.bev-avatar-fallback {
  width: 100%;
  height: 100%;
  background-color: var(--pr-gray-700);
  color: var(--pr-white);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2.5rem;
  font-weight: 600;
}

.bev-author-name {
  /* Bloqueamos la variable de texto general de Bootstrap para este párrafo */
  --bs-body-color: var(--text-primary);
  
  background-color: var(--bg-body);
  color: var(--text-primary);
  display: inline-block;
  padding: 0.25rem 1rem;
  border-radius: 20px;
}
.bev-btn-autor {
  /* Sobrescribimos el comportamiento de Bootstrap usando tus variables semánticas */
  --bs-btn-color: var(--text-primary);
  --bs-btn-hover-color: var(--text-primary);
  
  /* Tus estilos estructurales */
  background-color: var(--bg-body);
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 8px;
  transition: all 0.3s ease;
}