<aside class="libros-sidebar-left p-3">
  <div class="bev-categorias-container">
    <p class="bev-categorias-titulo text-uppercase fw-bold mb-2">CATEGORÍAS</p>
    <ul class="bev-categorias-lista list-unstyled m-0" id="listaCategorias">
      <li class="bev-categoria-item mb-2 {% if categoria_actual == 'todos' %}activo{% endif %}">
        <a href="?categoria=todos" class="text-decoration-none">Todos</a>
      </li>
      <li class="bev-categoria-item mb-2 {% if categoria_actual == 'NUE' %}activo{% endif %}">
        <a href="?categoria=NUE" class="text-decoration-none">Nuevos</a>
      </li>
      <li class="bev-categoria-item mb-2 {% if categoria_actual == 'DES' %}activo{% endif %}">
        <a href="?categoria=DES" class="text-decoration-none">Destacados</a>
      </li>
      <li class="bev-categoria-item mb-2 {% if categoria_actual == 'PRE' %}activo{% endif %}">
        <a href="?categoria=PRE" class="text-decoration-none">Preventa</a>
      </li>
      <li class="bev-categoria-item mb-2 {% if categoria_actual == 'MIS' %}activo{% endif %}">
        <a href="?categoria=MIS" class="text-decoration-none">Misterio</a>
      </li>
      <li class="bev-categoria-item mb-2 {% if categoria_actual == 'ROM' %}activo{% endif %}">
        <a href="?categoria=ROM" class="text-decoration-none">Romance</a>
      </li>
      <li class="bev-categoria-item mb-2 {% if categoria_actual == 'NOV' %}activo{% endif %}">
        <a href="?categoria=NOV" class="text-decoration-none">Novela</a>
      </li>
      <li class="bev-categoria-item mb-2 {% if categoria_actual == 'CRI' %}activo{% endif %}">
        <a href="?categoria=CRI" class="text-decoration-none">Crimen</a>
      </li>
    </ul>
  </div>
</aside>