{% load static %}
<section class="py-0 libros-seccion">
  <div class="bev-container">
    <div class="mb-5">
      <h2 class="bev-section-title bev-section-title-left libros-seccion__titulo">Nuestras Novelas</h2>
      <div class="bev-section-line"></div>
    </div>

    <div class="libros-layout row g-4">
      <div class="col-12 col-lg-2">
      {% include "includes/panel_categorias.html" %}
      </div>
      <div class="col-12 col-lg-7">
      {% include "catalogo/includes/libros_grid.html" %}
     </div>
      <aside class="libros-sidebar-right col-12 col-lg-3">
        
        {% include "catalogo/includes/libros_contacto_form.html" %}
        {% include "noticias/libros_noticias_lateral.html" %}
      </aside>
    </div>
  </div>
</section>